/*  ******** these are the main styles applied to page ********* */

/*----------------------------------------------------------*/
/*-------------------  Globals content ---------------------*/
/*----------------------------------------------------------*/

body{
    background-color: #ffffff;
    font-family: Helvetica , arial , sans-serif ;
    font-weight: normal;
    width: 100% ;
    font-size:20px;
    margin:0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



/* Responsive basic styles */

img,embed,object,video{
    max-width: 100%
}

a,button {
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
}

button{
    border: none;
    outline:none;
}



/* ---------- custom globals ---------------- */

.body-container{
    width: 100%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: #7c7e80;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;


    top: 100%;
    left: 50%;
    margin-left: -80px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #7c7e80 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*----------------------------------------------------------*/
/*-------------------  Header Content  ---------------------*/
/*----------------------------------------------------------*/

/* header elements */
.header-title-container{
    text-align: right;
    float: right;
    width: 80%;
    margin-right: 4%;
    font-size: 2em;
    color: #fff;
    text-shadow: 0px 1px 7px #8c8c8c;

}

.header-title-container p{
    font-family: arial;
    margin: 0;
    margin-top: 11px;
}

.page-header{
    display: block;
    height: 70px;
    width: 100%;
    background-color: #202020;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);

}

.page-header h1 {
    margin-top: 0;
}

/* nav items - menu - hamburger */
.nav-icon{
    width: 50px;
    height: 70px;
    margin-left: 20px;
    cursor: pointer;
    position: absolute;
}

.hamburger{
    width: 100%;
    height: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 4px rgb(140, 140, 140);
    transition: .5s;

}

.hamburger::after,
.hamburger::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 4px rgb(140, 140, 140);
    transition: .5s;

}

.hamburger::after{
    top: 15px;
}

.hamburger::before{
    top: -15px;
}

.active-nav-icon .hamburger{
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.active-nav-icon .hamburger::after{
    top: 0;
    transform: rotate(135deg);
}

.active-nav-icon .hamburger::before{
    top: 0;
    transform: rotate(45deg);
}

/*----------------------------------------------------------*/
/*-------------------  End of header   ---------------------*/
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/*-------------------  Sidebar Content ---------------------*/
/*----------------------------------------------------------*/

/* sidebar css */

.sidebar{
    display: inline-block;
    width: 20%;
    position: absolute;
    left: -20%;
    height: calc(100vh - 70px);
    background-color: #2d2d2d;
    transition: 0.5s;

}

.sidebar.active-side-bar{
    left: 0%;
    transition: 0.5s;
    -webkit-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar p{
    font-size: 25px;
    text-align: center;
    margin: 8px 0px 8px 0px;
    color: #fff;
}

.sidebar hr{
    width: 90%;
    margin: auto;
    display: block;
}

.sidebar input{
    padding: 5px;
    font-size: 18px;
}

.mylist-container{
    display: block;
    margin: auto;
    width: 80%;
}

ul.mylist {
    padding: 0;
}

.mylist li{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 3px;
    font-size: 18px;
    height: 30px;
    padding-top: 8px;
    list-style: none;
    background-color: #ccc;
    margin-top: 4px;
    margin-bottom: 3px;
    text-align: center;
}

/* sidebar icons */
.tools-container{
    width: 100%;
    height: 90px;
    display: block;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 20px;
}

.icon-container{
    width: 50%;
    display: inline-block;
    margin: auto;
}

.icon{
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    border-width: 3px #ccc;

    background: #7c7e80;
}

.icon:hover{
    cursor: pointer;
    background-color: #ccc;
}

.icon-img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    padding-top: 14px;
}


/* sidebar search box */
.search-box{
    width: 80%;
    height: 30px;
    margin: auto;
    margin-top: 15px;
    display: block;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: inherit;
    background-color: #e4e4e4;
}

.search-box p{
    margin: 3px;
}

input.search-box:focus{
    outline: none !important;
    border:1px solid inherit;
    box-shadow: 0 0 10px #fff;
    background-color: #fff;
    color: #333;
}

input.search-box{
    color: #444;
}

/*----------------------------------------------------------*/
/*----------------  End  Of  Sidebar   ---------------------*/
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/*-------------------  Page Content ------------------------*/
/*----------------------------------------------------------*/

/* page content */
.page-content{
    width: 100%;
    height: calc(100vh - 70px);
    display: inline-block;
    background-color: #ccc;
    transition: 0.5s;
}

.page-content.active-side-bar{
    width: 82%;
    margin-left: 18%;
    display: inline-block;
    transition: 0.5s;
}

.map-container{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    display: block;
    background-color: #fff;
}


.map-container.active-side-bar{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-left: 11%;
    margin-top: 50px;
    display: block;
    background-color: #fff;
}

#map-caption p{
    color: #656060;
    text-align: center;
}

#map{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.75);
}


/*----------------------------------------------------------*/
/*----------------  End of Page Content --------------------*/
/*----------------------------------------------------------*/


/*----------------------------------------------------------*/
/*--------------------  media Queries ----------------------*/
/*----------------------------------------------------------*/


@media screen and (max-width: 1500px) {

    /* sidebar elements */
    .sidebar{
        width: 30%;
        left: -30%;
        z-index: 3;
    }

    .tools-container{
        margin-bottom: 0;
        height: 70px;
    }
    .icon{
        width: 60px;
        height: 60px;
    }
    .icon-img{
        width: 35px;
        height: 35px;
        padding-top: 10px;
    }

    .tooltip .tooltiptext {
        width: 120px;
        margin-left: -60px;
        font-size: 15px;
    }

    input.search-box{
        font-size: 15px;
    }


    .page-content.active-side-bar{
        width: 72%;
        margin-left: 28%;
    }

    .map-container{
        margin-top: 10px;
        width: 90%;
        height: 90%;
    }


    .map-container.active-side-bar{
        width: 90%;
        height: 90%;

    }

}

@media only screen and (max-width: 900px){
    /* sidebar elements */
    .sidebar{
        width: 50%;
        left: -50%;
        z-index: 3;
    }

    .page-content.active-side-bar{
        width: 100%;
        margin-left: 0%;
    }

    .map-container{
        margin: 0;
        width: 100%;
        height: 90%;
    }

    .map-container.active-side-bar{
        width: 100%;
        height: 90%;
        z-index: 1;
    }

}

@media only screen and (max-width: 650px){

    .sidebar{
        width: 100%;
        left: -100%;
        z-index: 3;
    }

    .tooltip .tooltiptext {
        visibility: visible;
        background-color: #2d2d2d;
    }

    .header-title-container p{
        font-family: arial;
        margin: 0;
        font-size: 1em;
        margin-top: 20px;
    }

    .header-title-container{
        font-size: 1em;
    }

    .nav-icon{
        width: 35px;
    }


}
